<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">

        <form action="/products/createProd" method="post" enctype="multipart/form-data" class="cont-form" >
            <div class="cont-create">
                <div class="titulo-form">
                    <h1>Crear Producto</h1>
                </div>
                <div class="wrap-form-create">
                    <label for="name">Nombre del producto</label>
                    <input type="text" name="name">
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="description">Descripcion</label>
                    <input type="text" name="desc">
                    <% if (locals.errors && errors.desc) { %>
                        <div class="text-danger">
                            <%= errors.desc.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="size">Tamaño</label>
                    <input type="text" name="size">
                    <% if (locals.errors && errors.size) { %>
                        <div class="text-danger">
                            <%= errors.size.msg %>
                        </div>
                        <% } %>
                </div>

                <div class="wrap-form-create">
                    <label for="price">Precio</label>
                    <input type="text" name="price">
                    <% if (locals.errors && errors.price) { %>
                        <div class="text-danger">
                            <%= errors.price.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="disc">Descuento</label>
                    <input type="number" name="disc">
                    <% if (locals.errors && errors.disc) { %>
                        <div class="text-danger">
                            <%= errors.disc.msg %>
                        </div>
                        <% } %>
                </div>
               
                <div class="separador"></div>
                <div class="wrap-form">
                    <label for="idCategory"><b>Categoria</b></label>
                    <select name="idCategory" id="idCategory">
                                    <option value="">Elegí</option>
                                    <option value="gaming" >Gaming</option>
                                    <option value="desktop" >Desktop</option>
                        <option value="office" >Office</option>
                    </select>
                    <% if (locals.errors && errors.idCategory) { %>
                        <div class="text-danger">
                            <%= errors.idCategory.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="separador"></div>
                <div class="wrap-form">
                    <label for="idType"><b>Tipo</b></label>
                    <select name="idType" id="idType">
                        <option value="">Elegí</option>
                        <option value="visited">Visitada</option>
                        <option value="offer" >En Oferta</option>
                    </select>
                    <% if (locals.errors && errors.idType) { %>
                        <div class="text-danger">
                            <%= errors.idType.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="image"><b>La imagen del producto</b></label>
                    <input type="file" name="image" accept=".jpg, .bmp, .webp, .png " class="img-create">
                    <% if (locals.errors && errors.image) { %>
                        <div class="text-danger">
                            <%= errors.image.msg %>
                        </div>
                        <% } %>
                </div>
            <div class="boton">
            <button type="submit" class="btn-prod">Enviar</button>
            </div>
        </form>

    </main>

    <%- include("parcials/footer") %>


</body>

</html>