<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">

        <form action="/products/createProd" method="post" enctype="multipart/form-data" class="cont-form" >
            <div class="cont-create">
                <div class="titulo-form">
                    <h1>Crear Producto</h1>
                </div>
                <div class="wrap-form-create">
                    <label for="name">Nombre del producto</label>
                    <input type="text" name="name">
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="description">Descripcion</label>
                    <input type="text" name="desc">
                    <% if (locals.errors && errors.desc) { %>
                        <div class="text-danger">
                            <%= errors.desc.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="characteristic">Caracteristicas</label>
                    <input type="text" name="caract">
                    <% if (locals.errors && errors.caract) { %>
                        <div class="text-danger">
                            <%= errors.caract.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="color">Color</label>
                    <input type="text" name="color">
                    <% if (locals.errors && errors.color) { %>
                        <div class="text-danger">
                            <%= errors.color.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="price">Precio</label>
                    <input type="text" name="precio">
                    <% if (locals.errors && errors.precio) { %>
                        <div class="text-danger">
                            <%= errors.precio.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="discount">Descuento</label>
                    <input type="number" name="disc">
                    <% if (locals.errors && errors.disc) { %>
                        <div class="text-danger">
                            <%= errors.disc.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="code">Codigo del producto</label>
                    <input type="text" name="code">
                    <% if (locals.errors && errors.code) { %>
                        <div class="text-danger">
                            <%= errors.code.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="separador"></div>
                <div class="wrap-form">
                    <label for="category"><b>Categoria</b></label>
                    <select name="category" id="category">
                                    <option value="">Elegí</option>
                                    <option value="gaming" >Gaming</option>
                                    <option value="desktop" >Desktop</option>
                        <option value="office" >Office</option>
                    </select>
                    <% if (locals.errors && errors.category) { %>
                        <div class="text-danger">
                            <%= errors.category.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="separador"></div>
                <div class="wrap-form">
                    <label for="type"><b>Tipo</b></label>
                    <select name="type" id="type">
                        <option value="">Elegí</option>
                        <option value="visited">Visitada</option>
                        <option value="offer" >En Oferta</option>
                    </select>
                    <% if (locals.errors && errors.type) { %>
                        <div class="text-danger">
                            <%= errors.type.msg %>
                        </div>
                        <% } %>
                </div>
                <div class="wrap-form-create">
                    <label for="image1"><b>La imagen del producto</b></label>
                    <input type="file" name="image1" accept=".jpg, .bmp, .webp, .png " class="img-create">
                    <% if (locals.errors && errors.image1) { %>
                        <div class="text-danger">
                            <%= errors.image1.msg %>
                        </div>
                        <% } %>

                </div>
                <div class="wrap-form-create">
                    <label for="img2">Imagen dos</label>
                    <input type="file" name="image2" accept=".jpg, .bmp, .webp" class="img-create" >
            </div>
        </form>

    </main>

    <%- include("parcials/footer") %>


</body>

</html>