<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">

        <form action="/products/updateProduct/<%=prod.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="cont-form">
            <div class="titulo-form">
                <h3>Editar el Producto</h3>
            </div>
            <div class="separador"></div>

            <div class="wrap-form">
                <label for="name"><b>Nombre</b></label>
                <input type="text" name="name" value=<%=prod.name%>>
            </div>
            <div class="wrap-form">
                <label for="description"><b>Descripcion</b></label>
                <input type="text" name="desc" value=<%=prod.description%>>
            </div>
            <div class="wrap-form">
                <label for="sixe"><b>Tamaño</b></label>
                <input type="text" name="size" value=<%=prod.size%>>
            </div>
            <div class="wrap-form">
                <label for="price"><b>Precio</b></label>
                <input type="text" name="price" value=<%=prod.price%>>

            </div>
            <div class="wrap-form">
                <label for="disc"><b>Descuento</b></label>
                <input type="number" name="disc" value=<%=prod.disc%>>
            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <label for="category"><b>Categoria</b></label>
                <select name="category" id="category">
            <option value="">Elegí</option>
            <option value="desktop" <%=prod.idCategory== 1 ? "selected" : "" %>>Desktop</option>
            <option value="office" <%=prod.idCategory== 2 ? "selected" : "" %>>Office</option>
            <option value="gaming" <%=prod.idCategory== 3 ? "selected" : "" %>>Gaming</option>
            <option value="tablet" <%=prod.idCategory== 4 ? "selected" : "" %>>Tablet</option>
        </select>
            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <label for="type"><b>Tipo</b></label>
                <select name="type" id="type">
            <option value="">Elegí</option>
            <option value="visited" <%=prod.idType == 1 ? "selected" : ""%>>Visitada</option>
            <option value="offer" <%=prod.idType == 2 ? "selected" : ""%>>En Oferta</option>
            <option value="likes" <%=prod.idType == 3 ? "selected" : ""%>>Excelencia</option>
        </select>
            </div>
            <div class="separador"></div>
            <div class="titulo-form">
                <h3>La imagen es </h3>
            </div>
            <img src="<%=prod.image%>" style="width:150px; height:150px"/>
            <div class="wrap-form">
                <label for="image" class="image" ></label>
                <input type="file" name="image" accept=".jpg, .bmp, .webp">
            </div>
            <div class="separador "></div>

            <div class="wrap-recu">
                <button type="submit">Modificar</button>
            </div>


        </form>

    </main>

    <%- include("parcials/footer") %>

</body>

</html>