<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">

        <form action="/updateProduct/<%=prod.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="cont-form">
            <div class="titulo-form">
                <h3>Editar el Producto</h3>
            </div>
            <div class="separador"></div>

            <div class="wrap-form">
                <label for="name"><b>Nombre</b></label>
                <input type="text" name="name" value=<%=prod.name%>>

            </div>
            <div class="wrap-form">
                <label for="desc"><b>Descripcion</b></label>
                <input type="text" name="desc" value=<%=prod.desc%>>

            </div>
            <div class="wrap-form">
                <label for="charact"><b>Caracteristicas</b></label>
                <input type="text" name="charact" value=<%=prod.caract%>>
            </div>
            <div class="wrap-form">
                <label for="size"><b>Especificaciones</b></label>
                <input type="text" name="size" value=<%=prod.size%>>
            </div>
            <div class="wrap-form">
                <label for="color"><b>Color</b></label>
                <input type="text" name="color" value=<%=prod.color%>>

            </div>
            <div class="wrap-form">
                <label for="precio"><b>Precio</b></label>
                <input type="text" name="precio" value=<%=prod.precio%>>

            </div>
            <div class="wrap-form">
                <label for="disc"><b>Descuento</b></label>
                <input type="number" name="disc" value=<%=prod.disc%>>
            </div>
            <div class="wrap-form">
                <label for="codigo"><b>Codigo</b></label>
                <input type="text" name="codigo" value=<%=prod.codigo%>>
                </label>
            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <label for="category"><b>Categoria</b></label>
                <select name="category" id="category">
            <option value="">Elegí</option>
            <option value="gaming" <%=prod.category=="gaming" ? "selected" : "" %>>Gaming</option>
            <option value="desktop" <%=prod.category=="desktop" ? "selected" : "" %>>Desktop</option>
            <option value="office" <%=prod.category=="office" ? "selected" : "" %>>Office</option>
        </select>
            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <label for="type"><b>Tipo</b></label>
                <select name="type" id="type">
            <option value="">Elegí</option>
            <option value="visited" <%=prod.type=="visited" ? "selected" : "" %>>Visitada</option>
            <option value="offer" <%=prod.type=="offer" ? "selected" : "" %>>En Oferta</option>
        </select>
            </div>
            <div class="separador"></div>
            <div class="titulo-form">
                <h3>La Primer imagen es </h3>
            </div>
            <img src=<%=prod.image1%> style="width:80px; height:80px"/>
            <div class="wrap-form">
                <label for="image1" class="image1">
            <input type="file" name="image1" accept=".jpg, .bmp, .webp">
        </label>
            </div>
            <div class="titulo-form">
                <h3>La segunda imagen es </h3>
            </div>
            <img src=<%=prod.image2%> style="width:80px; height:80px"/>
            <div class="wrap-form">
                <label for="image2 " class="iameg2">
            <input type="file" name="image2" accept=".jpg, .bmp, .webp">
        </label>
            </div>
            <div class="titulo-form">
                <h3>La tercera imagen es</h3>
            </div>
            <img src=<%=prod.image3%> style="width:80px; height:80px" />
            <div class="wrap-form ">
                <label for="image3" class="iamge3">
            <input type="file" name="image3" accept=".jpg, .bmp, .webp">
        </label>
            </div>
            <div class="separador "></div>

            <div>
                <button class="btn btn-primary" type="submit">Aceptar modificacion</button>
            </div>


        </form>

    </main>

    <%- include("parcials/footer") %>

</body>

</html>