<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">
     

        <form action="/users/userEdit/<%=user.id%>" method="POST" class="cont-form" enctype="multipart/form-data">
            <div class="cont-create">
                <div class="titulo-form">
                    <h1>Perfil de <%= user.firstName %> </h1>
                </div>
                <div class="wrap-form-create">
                    <img src="<%= user.avatarIMG %>" alt="">
                </div>
                <div class="wrap-form-create">
                    <label for="mail">Email</label>
                    <input type="mail" name="mail" value="<%= user.email %>" disabled >
                </div>
                <div class="wrap-form-create">
                    <label for="name">Nombre</label>
                    <input type="text" name="name"  value="<%= user.firstName %>" disabled>
                </div>
                <div class="wrap-form-create">
                    <label for="lastName">Apellido</label>
                    <input type="text" name="lastName"  value="<%= user.lastName %>" disabled>
                </div>
                <div class="wrap-form-create">
                    <label for="phone">Telefono</label>
                    <input type="text" name="phone"  value="<%= user.phone %>" disabled>
                </div>
                <div class="wrap-form-create">
                    <label for="adress">Direccion</label>
                    <input type="text" name="adress"  value="<%= user.adress %>" disabled>
                </div>
                <div class="wrap-form-create">
                    <label for="location">Localidad</label> 
                        <input type="text" name="location" placeholder="Ingresa tu localidad"  value="<%=user.location%>" disabled>
                </div>
                <div class="wrap-form-create">
                    <label for="state">Provincia</label>
                        <input type="text" name="state" placeholder="Ingresa tu provincia" value="<%=user.state%>" disabled>
                </div>
                <div class="wrap-form-create">
                    <button type="submit">Editar</button>
                </div>
            </div>

        </form>

    </main>

    <%- include("parcials/footer") %>


</body>

</html>