<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">

        <form method="POST" action="/users/register" enctype="multipart/form-data" class="cont-form">
            <div class="titulo-form">
                <h2>Complet치 los siguientes campos para registrarte en nuestro sitio</h2>
            </div>
            <div class="wrap-form">
                <label for="email">
                    <input type="email" name="email" placeholder="Ingresa tu e-mail" value= "<%= locals.oldData ? oldData.email : null %>" >
                </label>
                <% if(locals.errors && errors.email){ %>
                    <span><%=errors.email.msg%> </span>
                    <% } %>
            </div>
            <div class="wrap-form">
                <label for="contrase침a">
                    <input type="password" name="password" placeholder="Ingresa tu clave" >
                </label>
                <% if(locals.errors && errors.password){  %>
                    <span><%= errors.password.msg %> </span>
                    <% } %>
            </div>
            <div class="wrap-form">
                <label for="recontrase침a">
                    <input type="password" name="repassword" placeholder="Confirma tu clave">
                </label>
                <% if(locals.errors && errors.repassword){  %>
                    <span><%=errors.repassword.msg%> </span>
                    <% } %>
            </div>
            <div class="wrap-form">
                <label for="nombre">
                    <input type="text" name="name" placeholder="Ingresa tu nombre" value="<%= locals.oldData ? oldData.name : null %>" >
                </label>
                <% if(locals.errors && errors.name){  %>
                    <span><%= errors.name.msg %> </span>
                    <% } %>
            </div>
            <div class="wrap-form">
                <label for="apellido">
                    <input type="text" name="lastName" placeholder="Ingresa tu apellido" value="<%= locals.oldData ? oldData.lastName : null %>">
                </label>
                <% if(locals.errors && errors.lastName){ %>
                    <span><%= errors.lastName.msg %></span>
                    <% } %>
            </div>
            <div class="wrap-form">
                <label for="telefono">
                    <input type="text" name="phone" placeholder="Ingresa tu telefono" value= "<%= locals.oldData ? oldData.phone : null %>" >
                </label>
                <% if(locals.errors && errors.phone){ %>
                    <span><%= errors.phone.msg %> </span>
                    <% }  %>
            </div>
            <div class="wrap-form">
                <label for="direccion">
                    <input type="text" name="adress" placeholder="Ingresa tu direccion" value="<%= locals.oldData ? oldData.adress : null  %>">
                </label>
                <% if(locals.errors && errors.adress){ %>
                    <span><%= errors.adress.msg %> </span>
                    <% } %>
            </div>
            <div class="titulo-form"></div>
            <h3>Ingres치 tu avatar</h3>
            </div>
            <div class="wrap-form">
                <label for="avatar" class="avatar">
                     <input type="file" name="avatar" accept=".jpg, .bmp, .webp">
                </label>
                <% if(locals.errors && errors.avatar){  %>
                    <span><%= errors.avatar.msg %> </span>
                    <% }  %>

            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <button type="submit">Registrarse</button>
            </div>


        </form>

    </main>

    <%- include("parcials/footer") %>

</body>

</html>