<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>


    <main class="main-form">

        <form method="POST" action="/users/userUpdate/<%=user.id%>?_method=PUT" class="cont-form" enctype="multipart/form-data">
            <div class="titulo-form">
                <h2>Modifica el/los campo/s necesarios</h2>
            </div>
            <div class="wrap-form-create">
                <img src="/img/users/<%= user.avatarIMG %>" >
            </div>
            <div class="wrap-form">
                <label for="avatar" class="avatar">Tu imagen de perfil</label>
                <input type="file" name="avatarIMG" accept=".jpg, .bmp, .webp">  
            </div>
            <div class="wrap-form">
                <label for="nombre">Nombre</label>
                <input type="text" name="firstName" value="<%=user.firstName%>">     
            </div>
            <div class="wrap-form">
                <label for="apellido">Apellido</label>
                <input type="text" name="lastName" value="<%=user.lastName%>">  
            </div>
            <div class="wrap-form">Telefono</label>
                <label for="telefono">
                <input type="text" name="phone" value="<%=user.phone%>">   
            </div>
            <div class="wrap-form">
                <label for="direccion">Direccion</label>
                <input type="text" name="adress" value="<%=user.adress%>">       
            </div>
            <div class="wrap-form">
                <label for="location">Localidad</label> 
                    <input type="text" name="location" placeholder="Ingresa tu localidad"  value="<%=user.location%>">
            </div>
            <div class="wrap-form">
                <label for="state">Provincia</label>
                    <input type="text" name="state" placeholder="Ingresa tu provincia" value="<%=user.state%>">
            </div>
            <div class="wrap-form">
                <button type="submit">Actualizar</button>
            </div>
        </form>

    </main>

    <%- include("parcials/footer") %>

</body>

</html>