<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header>

        <%- include("./parcials/header") %>


            <%- include("./parcials/nav") %>

    </header>


    <main class="main-form">

        <form mothod="POST" action="/usersEdit?_method=PUT" class="cont-form">
            <div class="titulo-form">
                <h2>Modifica el/los campo/s necesarios</h2>
            </div>
            <div class="wrap-form">
                <label for="nombre">
                        <input type="text" name="nombre" value=<%=user.first_name%>>
                    </label>
            </div>
            <div class="wrap-form">
                <label for="apellido">
                        <input type="text" name="apellido" value=<%=user.last_name%>>
                    </label>
            </div>
            <div class="wrap-form">
                <label for="email">
                        <input type="email" name="email" value=<%=user.email%>>
                    </label>
            </div>
            <div class="wrap-form">
                <label for="contraseña">
                        <input type="password" name="password" value=<%=user.password%>>
                    </label>
            </div>
            <div class="wrap-form">
                <label for="recontraseña">
                        <input type="password" name="repassword" value=<%=user.password%>>
                    </label>
            </div>

            <div class="wrap-form">
                <label for="telefono">
                        <input type="text" name="telefono" value=<%=user.telephone%>>
                    </label>
            </div>
            <div class="wrap-form">
                <label for="direccion">
                        <input type="text" name="direccion" value=<%=user.adress%>>
                    </label>
            </div>
            <div class="titulo-form"></div>
            <h3> tu avatar ingresado es
                <%=user.image%>
            </h3>
            <img src=<%=user.image%> style="width:50px; height:50px;" alt="avatar usuario" />
            </div>
            <div class="wrap-form">
                <label for="avatar" class="avatar">
                        <input type="file" name="avatar" accept=".jpg, .bmp, .webp">
                    </label>
            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <button type="submit">Actualizar</button>
            </div>
            <div class="wrap-form">
                <div class="separador"></div>




        </form>

    </main>

    <%- include("parcials/footer") %>

</body>

</html>