<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <script src="/js/validateProdEd.js"></script>

</head>

<body>

    <header>

        <%- include("./parcials/header") %>

            <%- include("./parcials/nav") %>

    </header>

    <main class="main-form">
        <div class="errorsCreateForm" style="color:orangered">
            <ul></ul>
        </div>
        <form action="/products/updateProduct/<%=prod.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="cont-form editProd">
            <div class="titulo-form">
                <h2>Editar el Producto</h2>
            </div>
            <div class="separador"></div>

            <div class="wrap-form">
                <label for="name"><b>Nombre</b></label>
                <input type="text" name="name" value=<%=prod.name%> class="name">
            </div>
            <div class="wrap-form">
                <label for="description"><b>Descripcion</b></label>
                <input type="text" name="desc" value=<%=prod.description%> class="desc">
            </div>
            <div class="wrap-form">
                <label for="sixe"><b>Tamaño</b></label>
                <input type="text" name="size" value=<%=prod.size%>>
            </div>
            <div class="wrap-form">
                <label for="price"><b>Precio</b></label>
                <input type="text" name="price" value=<%=prod.price%> class="price">

            </div>
            <div class="wrap-form">
                <label for="disc"><b>Descuento</b></label>
                <input type="number" name="disc" value=<%=prod.disc%> class="disc">
            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <label for="category"><b>Categoria</b></label>
                <select name="category" id="category">
            <option value="">Elegí</option>
                <% for(category of categorys) {%>     
                    <option value="<%= category.name %>" <%=prod.idCategory == category.id ? "selected" : "" %>><%= category.name %> </option>
                <% }%>      
        </select>
            </div>
            <div class="separador"></div>
            <div class="wrap-form">
                <label for="type"><b>Tipo</b></label>
                <select name="type" id="type">
            <option value="">Elegí</option>
                <% for(type of types) {%>    
                    <option value="<%= type.name %>" <%=prod.idType == type.id ? "selected" : ""%>><%= type.name %> </option>
                <% }%>
        </select>
            </div>
            <div class="separador"></div>
            <div class="titulo-form">
                <h3>La imagen es </h3>
            </div>
            <img src="<%=prod.image%>" style="width:150px; height:150px" />
            <div class="wrap-form">
                <label for="image" class="image"></label>
                <input type="file" name="image" accept=".jpg, .bmp, .webp">
            </div>
            <div class="separador "></div>

            <div class="wrap-recu">
                <button type="submit">Modificar</button>
            </div>


        </form>

    </main>

    <%- include("parcials/footer") %>

</body>

</html>