<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QMC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">




    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    
</head>

<body>
    <header>

        <%- include("./parcials/header") %>

            <%- include("./parcials/nav") %>

    </header>

    <!-- <%- include("./parcials/carousel") %> -->

        <main>



            <h2 class="titulo">Productos mas buscados</h2>

            <section class="cont-art ">

                <% for(prod of productShowVisited.slice(0,8)){ %>
                        <article class ="zoom">
                            <div class="car-prod-tot ">
                                <div>
                                    <a href="/products/productDetail/<%= prod.id %> ">
                                        <img src="<%= prod.image %>" class="d-block w-100" style="max-width:300px; height:300px" alt="<%= prod.name %>">
                                    </a>
                                </div>
                            </div>
                            <div class="wrap-art">
                                <h4 class="cuotas">18 cuotas sin interes</h4>
                                <h4 class="descrip" data-id="<%= prod.name %>" ><%= prod.name %></h4>
                                <h3 class="precio" data-id="<%= prod.price %>" >$ <%= prod.price %></h3>
                                <div class="botonCompra">
                                    <a href="/products/productDetail/<%= prod.id %> ">
                                        <button type="button" class="btn-prod">
                                        Ver producto
                                    </button>
                                    </a>
                                </div>
                            </div>
            <a href="" class="botonCarrito" type="<%= prod.id %>">Añadir al carrito</a>

                        </article>
                        
                <% } %>


            </section>

            <div class="gradient-divider"></div>
            <h2 class="titulo">Productos en Descuento</h2>

            <section class="cont-art">

                <% for(prod of productShowOffer.slice(0,8)){ %>
                        <article class="discount-container zoom">
                            <div class="car-prod-tot">
                                <div>
                                    <a href="<%= prod.image %>"><img src="<%= prod.image %>" class="d-block w-100" style="max-width:300px; max-height:300px"
                                                alt="<%= prod.name %>"></a>
                                </div>
                            </div>
                            <div class="discount-badge">
                                <h6><%= prod.disc %>%</h6>
                            </div>
                            <div class="wrap-art">
                                <h4 class="cuotas">18 cuotas sin interes</h4>
                                <h4 class="descrip">
                                    <%= prod.name %>
                                </h4>
                                <h3 class="precio">$
                                    <%= prod.price %>
                                </h3>
                                <div class="botonCompra">
                                    <a href="/products/productDetail/<%=prod.id%>">
                                        <button type="button" class="btn-prod">
                                        Ver producto
                                    </button>
                                    </a>
                                </div>
                         
                            </div>
                            <a href="" class="botonCarrito" data-id="2">Añadir al carrito</a>
                        </article>
                        
                <% } %>

            </section>

        </main>

        <%- include("parcials/footer") %>


       
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
            <script src="/js/Carrito.js" ></script>
</body>

</html>